@font-face {
  font-family: "NeueMontreal";
  src: url("../font/NeueMontreal-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../font/NeueMontreal-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../font/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("../font/NeueMontreal-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RightSans-WideMedium";
  src: url("../font/PPRightSans-WideMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: "NeueMontreal";
  background-image: url("../img/bg.png");
  margin: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.custom-cursor-before {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1000px 50px #1e90ff;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: -100;
  opacity: 1;
  pointer-events: none;
  animation: fadeIn 1s ease-in-out;
}

#scene {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80VH;
  width: 50VW;
  z-index: -1;
}

.main {
  border: 1px solid #2d2d2d;
  width: 200vh;
  height: 90vh;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main__leftside {
  width: 60%;
}
.main__leftside-header {
  color: #bbbbbb;
  padding: 1rem;
}
.main__leftside-header-main {
  display: flex;
}
.main__leftside-header-main-logo {
  margin-right: 20px;
}
.main__leftside-header-main-logo img {
  width: 100px;
  height: 100px;
}
.main__leftside-header-main-title {
  font-family: "RightSans-WideMedium";
  font-size: 5rem;
  font-weight: 500;
}
.main__leftside-header-main-subtitle {
  font-size: 1rem;
  font-weight: 300;
}
.main__leftside-link {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1rem;
}
.main__leftside-link-item {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  color: #bbbbbb;
  text-decoration: none;
  transition: 0.5s;
  margin: 0.5rem;
}
.main__leftside-link-item:hover {
  color: #ffffff;
}
.main__leftside-link-item-c {
  color: #1e90ff;
}
.main__leftside-link-item::before, .main__leftside-link-item::after {
  content: "";
  position: absolute;
  left: 100px;
  width: 100%;
  opacity: 0;
  transform: translatey(20px);
  transition: 0.3s ease-in-out;
  font-size: 1rem;
}
.main__leftside-link-item::after {
  content: attr(data-text);
  color: #bbbbbb;
}
.main__leftside-link-item:hover::before, .main__leftside-link-item:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
.main__rightside {
  width: 60%;
  display: flex;
  height: 100%;
}
.main__rightside::-webkit-scrollbar {
  width: 10px;
}
.main__rightside::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.main__rightside::-webkit-scrollbar-track {
  background-color: transparent;
}
.main__rightside-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.main__rightside-container-card {
  display: flex;
  flex-direction: column;
  text-align: start;
  height: auto;
  width: 40vw;
  background-color: #2d2d2d;
  color: #bbbbbb;
  border-radius: 5px;
  padding: 1rem;
  backdrop-filter: blur(2px);
  background: rgba(42, 42, 42, 0.1);
  margin-bottom: 1rem;
  height: 80rem;
  border: 1px solid #2d2d2d;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.main__rightside-container-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.main__rightside-container-card h2 {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #bbbbbb;
  transition: color 0.3s ease;
}
.main__rightside-container-card p {
  font-size: 1rem;
  color: #bbbbbb;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  transition: opacity 0.3s ease;
}
.main__rightside-container-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}
.main__rightside-container-card:hover img {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    border: none;
    height: 100vh;
    overflow: auto;
  }
  .main {
    flex-direction: column;
    height: 100vh;
    border: none;
  }
  .main__rightside {
    width: 100%;
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }
  .main__rightside-container {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .main__rightside-container-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.lightmode {
  background-image: none;
  background-color: #ffffff !important;
  color: #151515 !important;
}
.lightmode .lightmodebtn {
  color: #151515;
  background-color: transparent;
}
.lightmode .custom-cursor-before {
  opacity: 1;
  box-shadow: 0 0 1000px 50px #1e90ff;
}
.lightmode .main {
  color: #151515;
}
.lightmode .main__leftside-header {
  color: #151515;
}
.lightmode .main__leftside-header-main {
  color: #151515;
}
.lightmode .main__leftside-header-main-logo img {
  filter: invert(1);
}
.lightmode .main__leftside-link-item {
  color: #151515;
}
.lightmode .main__leftside-link-item:hover {
  color: #1e90ff;
}
.lightmode .main__leftside-footer {
  color: #151515;
}
.lightmode .main__leftside-footer-link {
  color: #151515;
}
.lightmode .main__leftside-footer-link:hover {
  color: #e2c258;
}
.lightmode .main__rightside h1 {
  color: #151515;
}
.lightmode .main__rightside-container {
  color: #151515;
}
.lightmode .main__rightside-container-text {
  color: #151515;
}
.lightmode .main__rightside-container h2 {
  color: #151515;
}
.lightmode .main__rightside-container-card {
  background-color: #ffffff;
  border: 1px solid #2d2d2d;
}
.lightmode .main__rightside-container-card h2 {
  color: #151515;
}
.lightmode .main__rightside-container-card p {
  color: #151515;
}
.lightmode .main__rightside-container-card-button {
  background-color: #2d2d2d;
  color: #ffffff;
}
.lightmode .main__rightside-container-card-button:hover {
  background-color: #151515;
}

.lightmodebtn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: transparent;
  color: #bbbbbb;
  border: 1px solid #2d2d2d;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
}
.lightmodebtn:hover {
  color: #151515;
  animation: hoverAnimation 0.3s ease-in-out;
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fillBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.lightmodebtn {
  background-size: 200% 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  transition: background-position 0.3s;
}
.lightmodebtn:hover {
  background-position: 100% 0%;
}

.lightmodebtn.lightmode {
  background-color: #e2c258;
  color: #151515;
}

/*# sourceMappingURL=style.css.map */
