//color

$black: #151515;
$white: #ffffff;
$gray: #2d2d2d;
$light-gray: #bbbbbb;
$yellow: #e2c258;
$blue: #1e90ff;
$green: #1cbf45;
$transparent: #ffffff00;


//font 

@font-face {
    font-family: 'NeueMontreal';
    src: url('../font/NeueMontreal-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('../font/NeueMontreal-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('../font/NeueMontreal-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('../font/NeueMontreal-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RightSans-WideMedium';
    src: url('../font/PPRightSans-WideMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


$font-title: 'RightSans-WideMedium';
$font: 'NeueMontreal';
$font-weight-bold: bold;
$font-weight-light: 300;



//radius

$small-radius: 5px;

//padding

$padding: 1rem;