@use "../var" as v;
@use "../mixin" as m;
@use "../reset";

body {
    font-family: v.$font ;
    background-image: url("../img/bg.png");
    background-size: cover;
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden; 
}



.custom-cursor-before {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1000px 50px #e2c258;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: -100;
    opacity: 1;
    pointer-events: none;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.main{
    border: 1px solid v.$gray;
    width: 200vh;
    height: 90vh;
    border-radius: 5px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;

    &__header{
        color: v.$light-gray;
        padding: 1rem;

        &-main{

            display: flex;

            &-logo{

                margin-right: 20px;

                & img{
                    width: 100px;
                    height: 100px;
                }
            }

            &-title{
                font-family: v.$font-title;
                font-size:5rem;
                font-weight: 500;
            }
    
                &-subtitle{
                    font-size: 1rem;
                    font-weight: 300;
                }
            

        }

    }

        &__link {
            display: flex;
            flex-direction: column;
            text-align: start;
            padding: 1rem;
        
            &-item {
                position: relative;
                font-size: 1.5rem;
                cursor: pointer;
                color: v.$light-gray;
                text-decoration: none;
                transition: 0.5s;
                margin: 0.5rem;
        
            &:hover {
            color: v.$white;
            }
        
            &-c {
            color: v.$yellow;
            }
        
            &::before, &::after {
            content: '';
            position: absolute;
            left: 100px;
            width: 100%;
            opacity: 0;
            transform: translatey(20px);
            transition: 0.3s ease-in-out;
            font-size: 1rem;
            }
    
        
            &::after {
            content: attr(data-text);
            color: v.$light-gray;
            }
        
            &:hover::before, &:hover::after {
            opacity: 1;
            transform: translateY(0px);
            }
        }
        }

    &__footer {
        width: 20vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: end;
        color: v.$light-gray;
        font-size: 2rem;

        position: absolute;  
        bottom: 0;  
        right: 0; 
        padding: 1rem; 

        &-link {
            cursor: pointer;
            transition: 0.5s;
            color: v.$white;

            &:hover {
                color: v.$yellow;
            }
        }
    }

}

#scene{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80VH;
    width: 50VW;
    z-index: -1;
}

@media screen and (max-width: 768px){

    body{
        margin: 0;
        border: none;
        height: 100vh;
    }
    .main{
        flex-direction: column;
        height: 100vh;
        border: none;

        & h2{
            font-size: 2rem;
        }

        &__footer{
            width: 50vw;
        }

    
    }
}


.lightmode {
    background-image: none;
    background-color: v.$white !important;  
    color: v.$black !important;  

    .lightmodebtn {
        color: v.$black;
        background-color: transparent;
    }

    .custom-cursor-before {
        opacity: 1;
        box-shadow: 0 0 1000px 50px #e2c258;
    }

    .main{
        color: v.$black; 

        &__header{
            color: v.$black;

            &-main{
                color: v.$black;

                &-logo{
                    & img{
                        filter: invert(1);
                    }
                }
            }
        }

        &__link{
            &-item{
                color: v.$black;
                &:hover{
                    color: v.$yellow;
                }
            }
        }

        &__footer{
            color: v.$black;
            &-link{
                color: v.$black;
                &:hover{
                    color: v.$yellow;
                }
            }
        }
    }
}


.lightmodebtn {
    position: absolute; 
    bottom: 1rem; 
    left: 1rem; 
    background-color: transparent;
    color: v.$light-gray;
    border: 1px solid v.$gray;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1rem;




    &:hover {
        color: v.$black;
        animation: hoverAnimation 0.3s ease-in-out;
    }
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fillBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.lightmodebtn {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, v.$transparent 50%, v.$white 50%);
    transition: background-position 0.3s;

    &:hover {
        background-position: 100% 0%;
    }
}


.lightmodebtn.lightmode {
    background-color: v.$yellow;
    color: v.$black;
}
