@use "../var" as v;
@use "../mixin" as m;
@use "../reset";

body {
    font-family: v.$font ;
    background-image: url("../img/bg.png");
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.custom-cursor-before {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1000px 50px #bc1cbf;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: -100;
    opacity: 1;
    pointer-events: none;

}

.main{
    border: 1px solid v.$gray;
    width: 200vh;
    height: 90vh;
    border-radius: 5px;
    display: flex;

    &__leftside{
        width: 50%;

        &-header{
            color: v.$light-gray;
            padding: 1rem;

            &-main{

                display: flex;

                &-logo{

                    margin-right: 20px;

                    & img{
                        width: 100px;
                        height: 100px;
                    }
                }

                    &-title{
                        font-size: 4rem;
                        font-weight: 500;
                    }
        
                    &-subtitle{
                        font-size: 1rem;
                        font-weight: 300;
                    }
                

            }

        }

        &-link {
            display: flex;
            flex-direction: column;
            text-align: start;
            padding: 1rem;
        
            &-item {
                position: relative;
                font-size: 1.5rem;
                cursor: pointer;
                color: v.$light-gray;
                text-decoration: none;
                transition: 0.5s;
                margin: 0.5rem;
        
            &:hover {
            color: v.$white;
            }
        
            &-c {
            color: #bc1cbf;
            }
        
            &::before, &::after {
            content: '';
            position: absolute;
            left: 100px;
            width: 100%;
            opacity: 0;
            transform: translatey(20px);
            transition: 0.3s ease-in-out;
            font-size: 1rem;
            }
    
        
            &::after {
            content: attr(data-text);
            color: v.$light-gray;
            }
        
            &:hover::before, &:hover::after {
            opacity: 1;
            transform: translateY(0px);
            }
        }
        }
}

    &__rightside{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid v.$gray;

        & h1{
            color: v.$light-gray;
            font-size: 3rem;
            font-weight: 500;
            padding: 1rem;
            border: 1px solid v.$gray;
            width: 100%;
            text-align: center;
        }

        &-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            width: 100%;

            & label{
                color: v.$light-gray;
            }

            
            & input{
                width: 100%;
                padding: 1rem;
                margin: 1rem;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                color: v.$light-gray;
                font-size: 1rem;
                transition: 0.5s;
                border: 1px solid v.$gray;


                &:focus{
                    background-color: v.$white;
                    color: v.$black;
                }
            }

            & textarea{
                width: 100%;
                padding: 1rem;
                margin: 1rem;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                color: v.$light-gray;
                font-size: 1rem;
                transition: 0.5s;
                border: 1px solid v.$gray;

                &:focus{
                    background-color: v.$white;
                    color: v.$black;
                }
            }

            & button{
                @include m.button(v.$light-gray, v.$gray, v.$small-radius, v.$padding);
                margin: 1rem;
                width: 100%;
                font-weight: 500;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    background-color: v.$gray;
                    color: v.$white;
                }
        }

    }

    
}

}

@media screen and (max-width: 768px){

    body{
        margin: 0;
        border: none;
        height: 100vh;
    }
    .main{
        flex-direction: column;
        height: 100vh;
        border: none;

        & h2{
            font-size: 2rem;
        }

        &__leftside{
            width: 100%;
        }

        &__rightside{
            width: 100%;
        }

    }
}

.lightmode {
    background-image: none;
    background-color: v.$white !important;  
    color: v.$black !important;  

    .lightmodebtn {
        color: v.$black;
        background-color: transparent;
    }

    .custom-cursor-before {
        opacity: 1;
        box-shadow: 0 0 1000px 50px #bc1cbf;
    }

    .main{
        color: v.$black; 
    
&__leftside{
    &-header{
            color: v.$black;

            &-main{
                color: v.$black;

                &-logo{
                    & img{
                        filter: invert(1);
                    }
                }
            }
        }

        &-link{
            &-item{
                color: v.$black;
                &:hover{
                    color: #bc1cbf;
                }
            }
        }

        &-footer{
            color: v.$black;
            &-link{
                color: v.$black;
                &:hover{
                    color: v.$yellow;
                }
            }
        }
    }
    &__rightside{
        & h1{
            color: v.$black;
        }
    
        &-form{
            & label{
                color: v.$black;
            }
    
            & input{
                color: v.$black;
            }
    
            & textarea{
                color: v.$black;
            }
    
            & button{
                color: v.$black;
            }
        }
    }
}


}


.lightmodebtn {
    background-color: transparent;
    color: v.$light-gray;  
    border: 1px solid v.$gray;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    margin-left: 1rem;

    &:hover {
        color: v.$black;
        animation: hoverAnimation 0.3s ease-in-out;
    }
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fillBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.lightmodebtn {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, v.$transparent 50%, v.$white 50%);
    transition: background-position 0.3s;

    &:hover {
        background-position: 100% 0%;
    }
}


.lightmodebtn.lightmode {
    background-color: v.$yellow;
    color: v.$black;
}
